<div class="content_post" style="background-image: url(<%= railway.image %>);">
      <div class="more">
        <span><%= image_tag railway.image, class: 'railway-image' if railway.image.attached? %></span>
        <ul class="more_list">
          <li>
            <%= link_to '詳細', railway_path(railway.id), method: :get %>
          </li>
          <% if user_signed_in? && current_user.id == railway.user_id %>
          <li>
            <%= link_to '編集', edit_railway_path(railway.id), method: :get %>
          </li>
          <li>
            <%= link_to '削除', railway_path(railway.id), method: :delete %>
          </li>
          <% end %>
        </ul>
      </div>
      <p><%= railway.text %></p>
      <span class="name">
        <a href="">
          <span>製作者</span><%= railway.user.nickname %>
        </a>
      </span>
    </div>